<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>DjangoCodes - {% block title %}{% endblock title %}</title>
</head>

<body>
    <div class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">

                    <div class="navbar-header">
                        <button class="navbar-toggle" data-target="#mobile_menu" data-toggle="collapse"><span
                                class="icon-bar"></span><span class="icon-bar"></span><span
                                class="icon-bar"></span></button>
                        <a href="{% url 'index' %}" class="navbar-brand d-flex"><img
                                src="{% static 'codeapp/images/nav_logo.jpg' %}" width="30px" height="20px" alt="">
                            DJANGOCODES</a>
                    </div>

                    <div class="navbar-collapse collapse" id="mobile_menu">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="{% url 'index' %}">Home</a></li>
                            {% if request.user.is_authenticated %}
                            <li><a href="{% url 'add_blogs' %}">Add Blogs</a></li>
                            {% endif %}
                            <li><a href="{% url 'index_tagged' %}">Python</a></li>
                            <li><a href="{% url 'index_tagged' tag='django' %}">Django</a></li>
                            <li><a href="{% url 'index_tagged' tag='web designing' %}">Web Designing</a></li>
                            <li><a href="{% url 'contact' %}">Contact</a></li>
                        </ul>
                        <ul class="nav navbar-nav">
                            <li>
                                <form action="" class="navbar-form">
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="search" name="search" id="" placeholder="Search Here..."
                                                class=" search-hover">
                                            <span class="input-group-addon"><span
                                                    class="glyphicon glyphicon-search"></span></span>
                                        </div>
                                    </div>
                                </form>
                            </li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">

                            <li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                                        class="glyphicon glyphicon-user"></span> <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'profile_page' %}">Profile</a></li>
                                    <li><a href="{% url 'login_page' %}">Login</a></li>
                                    <li><a href="{% url 'register_page' %}">Sign Up</a></li>
                                    {% if request.user.is_authenticated %}
                                    <li><a href="{% url 'logout_user' %}">Logout</a></li>
                                    {% endif %}

                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {% block content %}{% endblock content %}
</body>

</html>