{% extends 'codeapp/base.html' %}
{% load static %}

{% block title %} Home Page {% endblock title %}

{% block content %}
Hello Developers, Welcome to DjangoCodes
< />

<div class="post_container">
    <h1>Latest Posts</h1>
    {% if blog_posts %}
    {% for post in blog_posts %}
    <ul>
        <a href="{% url 'blogs_comments' slug='{{slug}}' %}"></a>
        <li>
            <h2>{{ post.title }}</h2>
            <p>Author: {{ post.author.username }}</p>
            <p>Tag: {{ post.tag }}</p>
            <p>{{ post.content }}</p>
            <!-- You can add more fields as needed -->
        </li>
        </a>
        {% endfor %}
    </ul>
    {% else %}
    <p>No blog posts available.</p>
    {% endif %}
</div>
{% endblock content %}